body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #111111;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
.normal_header {
	background-color: #111111;
	color: lightskyblue;
}
.inverted_header {
	color: #111111;
	background-color: skyblue;
}

h1 {
	font-size: 4rem;
	margin: 0;
}

main {
	width: 95%;
	height: 70vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#timer_container {
	color: skyblue;
	font-size: 20px;
  }
#guesses_container, #main {
  background-image: url('./img/wiki_logo_faded.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#guesses_container, #results_container {
	width: 100%;
	height: 100%;
	resize: vertical;
	border: none;
	padding: 1rem;
	font-size: 1rem;
	line-height: 1.5;
	box-sizing: border-box;
  }
#results_container {
	color: #eeeeee;
}
button,  #players_container {
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	text-decoration: none;
	margin: 0 auto; 
	border-radius: 5px;
}
#players_container {
	width: 90vw;
	border: 1px solid skyblue;
	color: skyblue;
}
#game_container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	width: 100%;
	height: 70%;
	margin: 0 auto;
}

textarea {
	width: 100%;
	height: 100%;
	background-color: ghostwhite;
	box-sizing: border-box;
}

#game_button_container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	width: 100%; /* add this line to make the container take up full width */
}

button {
	text-align: center;
	background-color: #5D8CAE;
	color: #fff;
	border: none;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
	width: 30vw;
	height: 3em;
}
button:hover {
	background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
	.button {
		padding: 0.5rem 1rem;
		font-size: 0.8rem;
	}
}